#NAME is used as local directory
#On REMOTE_HOST you will need to put the ssh public key for SSH_USER.

NAME="example"
REMOTE_HOST="example-project.org"
SSH_USER="username"
REMOTE_DIR="~/somedir/"
RSYNC_OPTIONS="--compress"
LASTSYNCFILE="/home/mirror/mirrors/syncstatus/${NAME}-dotsrc-lastsync"
WARNLEVEL="216000"
