NAME="ubuntu"
REMOTE_HOST="rsync://mirrors.dotsrc.org"
REMOTE_DIR="/ubuntu/"
TWOSTAGE="True"
STAGE1CMD="rsync --recursive --times --links --hard-links --stats --timeout=600 --perms --exclude 'Packages*' --exclude 'Sources*' --exclude 'Release*' --exclude 'Archive-Update*' ${REMOTE_HOST}${REMOTE_DIR} /srv/mirrors/${NAME}/"
STAGE2CMD="rsync --recursive --times --links --hard-links --stats --timeout=600 --delete --delete-after --perms --exclude project/trace/${HOSTNAME} ${REMOTE_HOST}${REMOTE_DIR} /srv/mirrors/${NAME}/"
LASTSYNCFILE="/home/mirror/mirrors/syncstatus/${NAME}-dotsrc-lastsync"
WARNLEVEL="172800"
